body {
        background-color: #ffff7; /* light yellow */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        font-family: Arial, sans-serif;
}

.thank-you-container {
    position: absolute;
        top: 40%;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
        width: 180%;
        max-width: 600px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: white;
        box-shadow: 0 0 10px rgba(255,250,205);
        transition: transform 0.3s ease-in-out;
        text-align: center;
}

.thank-you-container:hover {
     transform: translate(-50%, -50%) scale(1.1);
}

.thank-you-text {
        font-size: 3em;
        color: #fd788b;
        margin: 0;
}

.sub-text {
        font-size: 1.2em;
        color: #fd788b;
        margin-top: 10px;
}